

body{
  background-color: darkgrey;
}
.App ul{
 
  list-style:✅;

  cursor: pointer;
  margin: 20 px;
  color:#fff;
  }
.App {
  border: 1px solid #fff;
  width: 60%;
  text-align: center;
  margin: auto;
  margin-top: 100px;
padding: 20 px;
  border-radius: 40 px;

}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App h2{
color:#fff;
}


  .App input{
 
width: 220px;
height: 20px;

    margin: 20 px;
    border-radius: 20 px;
    color:#1f1aa3;
    }
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.App button{
  display: block;
  margin: auto;
  width: 50 px;
  height: 20px;
  background-color: #3340d1;
  color: #000;
  border-radius: 10px;
  border: 0;






}
.div10{
  display: flex;
  /* align-items: center; */
  justify-content:space-between ;

}

.diffstyle{
  /* list-style: "❌"; */

  text-decoration: line-through;
  background-color: red;

}
.App ul li{
  overflow-wrap: break-word;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
